<form class="eightBall" ng-submit="getAnswer()">
    <input type="text" placeholder="Got a question?" ng-model="question">
    <input type="submit" value="Ask the Magic 8 Ball!" class="btn btn-default">
</form>

<div ng-hide="showAnswer" class="well col-md-4">
    This doesn't actually do anything except show a random response when you click the button. I have a server-side JSON file with 14 "positive" replies, 11 "neutral" replies, and 9 "negative" replies, and a node module to randomly select one when called. It doesn't work in IE, and I don't know why.
</div>

<well ng-show="showAnswer" class="well col-md-4">
    {{answer}}
</well>
