<form ng-submit="submitRequest()">
    <input type="text" placeholder="GitHub Username" ng-model="gitHubUsername">
    <input type="submit">
</form>

<div ng-show="showTable">
    <h1><img src="{{gitUser.data.avatar_url}}" height="100px" display="inline"/><a href="https://github.com/{{gitHubUsername}}" target="_blank"></a> {{gitUser.data.name}}'s GitHub Repositories</h1>
    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th>Repo Name &amp; Link</th>
            <th>Description</th>
            <th>Creation Date</th>
            <th>Last Pushed Date</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="file in gitIt.data track by $index" ng-click="goToRepo($index)">
            <td>{{file.name}}</td>
            <td>{{file.description}}</td>
            <td>{{file.created_at | date}}</td>
            <td>{{file.pushed_at | date}}</td>
        </tr>
        </tbody>
    </table>
</div>
