<form ng-submit="submitRequest()">
    <input type="text" placeholder="GitHub Username" ng-model="gitHubUsername">
    <input type="submit">
</form>

<div ng-hide="showTable">
Practice calling an external API. Also, I felt like my understanding of Angular factories wasn't where I wanted it to be, but this exercise really helped.
</div>

<div ng-show="showTable">
    <h1><a ng-href="{{gitUser.data.html_url}}" target="_blank"><img src="{{gitUser.data.avatar_url}}" height="100px" display="inline"/> {{gitUser.data.name}}'s GitHub Repositories</a></h1>
    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th>Repo Name &amp; Link</th>
            <th>Description</th>
            <th>Creation Date</th>
            <th>Last Pushed Date</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="file in gitIt.data track by $index" ng-click="goToRepo($index)">
            <td>{{file.name}}</td>
            <td>{{file.description}}</td>
            <td>{{file.created_at | date}}</td>
            <td>{{file.pushed_at | date}}</td>
        </tr>
        </tbody>
    </table>
</div>
